<md-card>
    <md-card-header>
        <md-card-title>{{titleKey | translate}}</md-card-title>
        <md-card-subtitle>{{subtitleKey | translate}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <md-progress-spinner class="spinner" *ngIf="loading" mode="indeterminate"></md-progress-spinner>
        <p *ngIf="!loading && !loaded">
            <md-icon>error_outline</md-icon>
            <span>{{errorKey | translate}}</span>
        </p>
        <div *ngIf="!loading && loaded; then content">
            <ng-content *ngTemplateOutlet="content"></ng-content>
        </div>
        <ng-template #content>
            <ng-content></ng-content>
        </ng-template>
        <p *ngIf=""></p>
    </md-card-content>
</md-card>