<md-toolbar>
    <span>Nuts</span>
    <span class="spacer"></span>
    <a md-button [routerLink]="['/accounts']" [disabled]="disableUserAccounts">{{'toolbar_user_accounts' | translate}}</a>
    <button md-icon-button [mdMenuTriggerFor]="profileMenu">
        <md-icon>account_circle</md-icon>
    </button>
</md-toolbar>

<md-menu #profileMenu="mdMenu" [overlapTrigger]="false">
    <a md-menu-item><md-icon>settings</md-icon> {{'toolbar_menu_settings' | translate}}</a>
    <a md-menu-item><md-icon>power_settings_new</md-icon> {{'toolbar_menu_logout' | translate}}</a>
</md-menu>
